annotated-types                   
anyio                             
APScheduler                       
certifi                           
charset-normalizer                
click                             
Deprecated                        
dnspython                         
email_validator                   
fastapi                           
fastapi-cli                       
h11                               
httpcore                          
httptools                         
httpx                             
idna                              
importlib_resources               
Jinja2                            
limits                            
markdown-it-py                    
MarkupSafe                        
mdurl                             
mwparserfromhell                  
orjson                            
packaging                         
pika                              
pip                               
prometheus_client                 
prometheus-fastapi-instrumentator 
pydantic                          
pydantic_core                     
Pygments                          
PyJWT                             
python-dotenv                     
python-multipart                  
pytz                              
pywikibot                         
PyYAML                            
requests                          
rich                              
shellingham                       
six                               
slowapi                           
sniffio                           
SQLAlchemy                        
starlette                         
typer                             
typing_extensions                 
tzlocal                           
ujson                             
urllib3                           
uvicorn                           
uvloop                            
watchfiles                        
websockets                        
wrapt                             